{% extends "base.html.twig" %}


{% block title %}Création d'une annonce{% endblock %}

{% form_theme myForm _self %}

{% block body %}
    <div class="container">
        <h1>Création d'une nouvelle annonce</h1>

        {{ form_start(myForm) }}


            {# <h3>Avant form_widget</h3> #}

            {# {{form_widget(myForm.title, {'attr': {'class':'form-control'}})}} #}

            {# {{form_row(myForm.title)}} #}

            {# <h3>après form_widget</h3> #}


             {{form_widget(myForm)}}

            <button type="submit" class="btn btn-primary mt-3">Création d'une annonce</button>



        {{ form_end(myForm) }}
    </div>
{% endblock %}


{% block form_row %}
    {# {{dump()}} #}
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                {{form_label(form)}}
            </div>
            <div class="col-6">
                {{form_widget(form)}}
            </div>
        </div>
    
    </div>
{% endblock %}

{% block text_widget %}
    <input type="text" name="{{full_name}}" id="{{id}}" class="form-control">

{% endblock %}