{% extends "base.html.twig" %}


{% block title %}Création d'une annonce{% endblock %}

{% form_theme myForm 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Création d'une nouvelle annonce</h1>

        {{ form_start(myForm) }}


            {# <h3>Avant form_widget</h3> #}

            {# {{form_widget(myForm.title, {'attr': {'class':'form-control'}})}} #}

            {# {{form_row(myForm.title)}} #}

            {# <h3>après form_widget</h3> #}


             {{form_widget(myForm)}}

            <button type="submit" class="btn btn-primary mt-3">Création d'une annonce</button>



        {{ form_end(myForm) }}
    </div>
{% endblock %}



{% block javascripts %}
   {{encore_entry_script_tags('annonce')}}
{% endblock %}



